<!DOCTYPE html>
<html>
<head>
<title>MVVM</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="MVVM" />
<meta http-equiv="Cache-Control" content="no-cache, no-store,no-siteapp, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
<meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui;">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="MVVM">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">
<meta name="format-detection" content="telephone=no">
<meta content="authenticity_token" name="csrf-param">
<meta content="kZ5LOthY3uQOg7DFCyz0/Dkff9owSbfWc+wRLLMv7jI=" name="csrf-token">
</head>
<body>
<div id="testBox">测试页面</div>
<a id="testClick" href="javascirpt:;">别用鼠标点我！键盘也不行！</a>
<div id="obj-c">0</div>
<script src="../../extends/requirejs/require.js" defer async="true" data-main="../view-model/main"></script>
</body>
</html>